In [1]:
name = 'Sha'
print(name)

a = 10
b = 3.14

print(a,type(a))
print(b,type(b))

is_student = True
print(f"Am I a student? {is_student}")

x = None
print(type(x))

m = 5
n = 8
m, n = n, m
print("m=",m )
print("n=",n)

Sha
10 <class 'int'>
3.14 <class 'float'>
Am I a student? True
<class 'NoneType'>
m= 8
n= 5

In [2]:

x = "MY NAME IS SHA"
print(x.lower())
y= "my name is sha"
print(y.upper())

greet = "Hello "
print(greet.split())

says = "Alice said Hello"
say = says.replace("Alice","I")
print(say)

name = "Mash"
age = 20
print(f"{name} is {age} years old ")

game = "She loves books"
print("games" in game)

my name is sha
MY NAME IS SHA
['Hello']
I said Hello
Mash is 20 years old
False

In [ ]:
digit = int (input("Type a number "))
if digit > 0:
  print("Positive")
else:
  print("Non Positive")

Type a number-5
Non Positive

In [ ]:
digit = float (input("Type a number"))
if (digit % 2) == 1:
  print("Odd")
else:
  print("Even")

Type a number-2
Even

In [ ]:
age = float (input("Type your age "))
if age>= 18:
  print("You are an adult")
else:
  print("You are a minor")

Type your age 23
You are an adult

In [ ]:
x = float (input("enter number"))
y = float (input("enter number"))
z = float (input("enter number"))
if x >= y and x >= z:
    print("x is the greatest:", x)
elif y >= x and y >= z:
    print("y is the greatest:", y)
else:
    print("z is the greatest:", z)

enter number2
enter number3
enter number7
z is the greatest: 7.0

In [ ]:
temp = float (input("enter current temperature "))
if temp > 30:
  print("Hot")
elif temp <15:
  print("Cold")
else:
  print("Warm")

enter current temperature 15
Warm

In [ ]:
fruits =["apple","banana","cherry"]
print(fruits[0])
print(fruits[-1])

apple
cherry

In [ ]:
fruits =["apple","banana","cherry"]
fruits.append ("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits =["apple","banana","cherry"]
fruits.remove ("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
print (total)

15

In [ ]:
words = ["hello", "world"]
word = " ".join(words)
print(word)

hello world Tuesday

In [ ]:
fruits =["apple","banana","cherry", "Berry","Watermelon" ]

reversed_list = fruits[::-1]

print("Original list:", fruits)
print(f"Reversed list: {reversed_list}")

Original list: ['apple', 'banana', 'cherry', 'Berry', 'Watermelon']
Reversed list: ['Watermelon', 'Berry', 'cherry', 'banana', 'apple']

In [ ]:
numbers = [1, 2, 3, 2, 1]
value_to_find = 2

count = numbers.count(value_to_find)

print(f"The value {value_to_find} appears {count} times in the list.")

The value 2 appears 2 times in the list.

In [ ]:
user_input = input("Enter numbers separated by commas: ")

numbers = [int(num.strip()) for num in user_input.split(",")]

even_numbers = [num for num in numbers if num % 2 == 0]

print("Even numbers:", even_numbers)

Enter numbers separated by commas: 2,4,6,89,5
Even numbers: [2, 4, 6]

In [ ]:
#Tuples
t = (10,20,30,40)
print(t[0])

10

In [ ]:
t = (10,20,30,40)
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = (1,2,3)
a,b,c = t
print(a)
print(b)
print(c)

1
2
3

In [ ]:
items = ("Alice", 25, True)
name,age,isfemale = items
print(name,type(name))
print(age,type(age))
print(isfemale,type(isfemale))

Alice <class 'str'>
25 <class 'int'>
True <class 'bool'>

In [ ]:
#Dictionaries
student = {"name": "Alice", "age": 21, "major": "Math"}
print(student["name"])

student["GPA"] = 3.8
print(student)

student["age"] = 22
print(student)

del student["major"]
print(student)

for key, value in student.items():
  print(f"{key} -> {value}")

fruits = ["apple", "banana", "apple", "cherry", "banana", "banana"]
counts = {}
for fruit in fruits:
  if fruit in counts:
    counts[fruit] += 1
  else:
    counts[fruit] = 1
print(counts)

Alice
{'name': 'Alice', 'age': 21, 'major': 'Math', 'GPA': 3.8}
{'name': 'Alice', 'age': 22, 'major': 'Math', 'GPA': 3.8}
{'name': 'Alice', 'age': 22, 'GPA': 3.8}
name -> Alice
age -> 22
GPA -> 3.8
{'apple': 2, 'banana': 3, 'cherry': 1}

In [ ]:
#Sets
s={1, 2, 3, 4}
s.add(2)
print(s)

my_num = [1, 2, 2, 3, 3, 3]
my_set = set(my_num)
print(my_set)

s={1, 2, 3, 4}
t = {3, 4, 5}
print("Union:", s.union(t))
print("Intersection:",s.intersection(t))
print("Difference:", s.difference(t))

letters = {"a", "b", "c"}
if "d" in letters:
  print("d in present")
else:
  print("d is absent")

{1, 2, 3, 4}
{1, 2, 3}
Union: {1, 2, 3, 4, 5}
Intersection: {3, 4}
Difference: {1, 2}
d is absent

In [ ]:
#Mixed Data Structures + Conditionals
inventory = {"apples": 5, "bananas": 2, "oranges": 0}
if inventory["oranges"] == 0:
  print("We are out of oranges")
else:
  print(f"We have {inventory["oranges"]} oranges")

people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}]
for person in people:
  if person["age"] >= 18:
    print(f"{person["name"]} is an adult")
  else:
    print(f"{person["name"]} is a minor")

nums = (5, 10, 15, 20)
for num in nums:
  if num % 10 == 0:
    print(f"{num} is divisible by 10")
  else:
    print(f"{num} is not divisible by 10")

num1 = int(input("Enter First number"))
num2 = int(input("Enter Second number"))
num3 = int(input("Enter Third number"))
num_list = [num1, num2, num3]
num_set = set(num_list)
print(num_set)
if len(num_list) > len(num_set):
  print("The list had duplicates")
else:
  print("The list had no duplicates")

grades = {"Alice": 85, "Bob": 72, "Charlie": 90}
for name, grade in grades.items():
  if grade >= 80:
     print(f"{name} passed")
  else:
    print(f"{name} failed")

a = [1,2,3,4]
b = [3,4,5,6]
common = set(a).intersection(set(b))
print(common)

name = input("Enter Your name")
age = int(input("Enter your age"))
fruits = input("Enter your 3 favourite fruits separated by commas")
data = {"name": name, "age":age, "fruits":fruits}
print(f"Name:{data["name"]}, Age:{data["age"]}, Fruits: {data["fruits"]}")